/* VENTANA MODAL VER*/
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ESTILO DE VENTANA */
.view-modal {
    position: relative;
    margin: auto;
    width: 300px;
    background: rgb(128, 128, 128);
    border-radius: 10px;
    padding: 10px;
}

/* CONTENIDO */
.modal-content {
    background: rgb(128, 128, 128);
    padding: 20px;
    border-radius: 8px;
    height: auto;

}

/*CAMPOS PARA MOSTRA INFO*/
.field {
    margin: 10px 0; 
}
.field span {
    display: inline-block;
    padding: 5px 10px;
    background: #e0e0e0; 
    border-radius: 5px;
    border: 1px solid #ccc; 
    width: calc(100% - 20px); 
}
