/* CSS GENERAL */
/* CONTENEDOR  */
.contenedor {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 8rem;
    font-size: 15px;
    
}


/* BARRA TITULO COMPONENTE  */
.Titulo {
    background-color: #ffffff;
    border-radius: 9px;
    width: 93%;
    margin-left: 3rem;
    box-shadow: 0 10px 16px rgba(0, 0, 0, 0.3);
    margin-top: 1rem
}
.Titulo h1 {
    text-indent: 50px;
}


/* SECCION PARA BOTONES ARRIBA DE LA TABLA  */
.Registrar {

    margin-top: 3rem;
    margin-bottom: 1rem;
    display: flex;
    gap: 1rem;
}


.Btn_agregar {
    background: #62626d;
    border-radius: 999px;
    box-shadow: #474753 0 10px 20px -10px;
    box-sizing: border-box;
    color: #f3f3f3;
    cursor: pointer;
    font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 8px 18px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    word-break: break-word;
    border: 0;
    color: rgb(219, 219, 219);
}


.Btn_agregar:hover {
    background-color: #979595;
}

.Btn_agregar:active {
    box-shadow: #bebbb5 2px 2px 0 0;
    transform: translate(2px, 2px);
}


/* ESTILO PARA LA TABLA */
.DatosBD {
    border-color: black;
}

.Table {
    margin-left: 7%;
    margin-top: 20px;
    width: 90%;
    border-collapse: collapse;
    min-height: 80%;
    table-layout: fixed;
}

.Table th {
    background-color: #7a7a7a;
    padding: 10px;
    text-align: center;
}

th:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

th:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

td:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

td:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.Table th,
.Table td {
    padding: 10px;
    text-align: center;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.Table tr:nth-child(odd) {
    background-color: #d6d6d6;
}

.Table tr:nth-child(even) {
    background-color: #ffffff;
}

.icon {
    margin-right: 10px;
    font-size: 20px;
    cursor: pointer;
}
.icon:hover{
    background-color: #818181;
}

/* PAGINACION  */
.pagination {
    text-align: center;
    font-size: 25px;
    color: rgb(0, 0, 0);
}