/* Contenedor */
.sidebar {
    display: flex;
    align-items: center;
    height: 71vh;
    font-size: 15px;
}

/* Barra lateral */
.optionsvar {
    background-color: #000000;
    border-radius: 9px;
    width: 4%;
    box-shadow: 0 10px 16px rgba(0, 0, 0, 0.3);
    height: 59.2rem;
    color: white;
    display: flex;
    justify-content: center;

}

.optionsvar ul {
    list-style-type: none;
    padding: 0;
}

.optionsvar ul li {
    margin: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    transition: background-color 0.9s;
}


.optionsvar ul li:hover {
    background-color: rgba(255, 255, 255, 0.3);
}