.Create_modal-content {
  position: relative;
  width: 100%; 
  background: rgb(128, 128, 128);
  border-radius: 8px;
  padding: 50px;
  margin: auto;
  transform: translateY(-50%);
  z-index: 1000;
  right: 10%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.modal {
  width: 20%;
  position: fixed;
  top: 50%; 
  left: 88%;
  transform: translate(-50%, -10%); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  max-height: 10%;
}



.input_field {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Estilos adicionales */
.titulo_modal {
  font-size: 1.5em; 
}

/* MENSAJES DE ERROR */
.error-message {
  color: rgb(87, 26, 26);
  font-size: 0.875em;
}

/* BOTONES */
.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px; 
}

.Btn_agregar {
  margin-right: 5px;
}

/* SPINNER CSS */
.lds-hourglass,
.lds-hourglass:after {
  box-sizing: border-box;
}

.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 40px;
}

.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 4px;
  box-sizing: border-box;
  border: 20px solid currentColor;
  border-color: currentColor transparent currentColor transparent;
  animation: lds-hourglass 1.2s infinite;
}

@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
}

/* Media Queries para pantallas pequeñas */
@media (max-width: 600px) {
  .Create_modal-content {
    width: 95%; 
    padding: 15px; 
  }
}
